%nav#menu.clearfix
  %ul
    %li
      = link_to "Главная", root_path
    %li
      = link_to "Наши Проекты", gallery_path
    %li
      = link_to "Вакансии", jobs_path
    %li
      = link_to "О Нас", about_us_path
    %li
      = link_to "Контакты", new_contact_path
    %li
      = link_to "Наши услуги", services_path
    %li
      = link_to "Новости", posts_path
